@charset "UTF-8";

.layout {
	display: grid;
	grid: "sidebar . body" 1fr/auto 1fr;
}

.sidebar {
	grid-area: sidebar;
	position: sticky;
	top: 15%;
	height: 50%;
	width: 100%;
	margin: 0 20px;
	padding: 0 10px;
	color: black;
	border-right: 1px solid gray;
}

.sidebar a {
	width: 100%;
	margin-left: 14px;
	text-decoration: none;
	color: black;
	list-style: none;
	border-bottom: 1px solid lightgray;
	line-height: 2em;
}

a:hover {
	color: darkgray;
}

.body {
	margin: 0 auto;
	justify-content: center;
}